@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Ubuntu&display=swap');
body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 65px;
    background-color: rgb(0, 0, 0);
    color: white;
}
nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 45px;
    padding: 0 10px 0 4px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 68vh;
    /* background-color: black; */
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 10px;
    padding: 34px;
    background-image: url("images/bg.jpg");
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
    padding: 0px 15px;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    height: 50px;
    display: flex;
    background:white;
    width: 30vw;
    color: black;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.songItem img{
    width: 40px;
    margin: 0 15px;
    border-radius: 25px;
}

.timestamp{
    margin: 0px 23px;
}
.icon{
    padding-left: 6px;
}
.timestamp i{
    cursor: pointer;
}

.songItemContainer{
    margin-top: 70px;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
